---
layout: default.hbs
---

<article class="container">
    <header class="page-header">
        <h2>{{ title }} :: <small>{{ description }}</small></h2>
    </header>

    <div>
        {{> body }}

        {{> disqus_thread }}
    </div>
</article>