@import "../../../node_modules/bootstrap/less/variables.less";

.post-preview {
  .header-image {
    height: 200px;
    background-position: center;
  }
}

.join-us {
  white-space: initial;
  text-decoration: inherit;
}

.presentation-wide-media {
  @media (max-width: @screen-sm-max) {
    width:100%;
  }
  @media (min-width: @screen-sm-max) {
    width:640px;
  }
}

.speaker-block {
  @media (max-width: @screen-sm-max) {
    text-align: left;
  }
  @media (min-width: @screen-sm-max) {
    text-align: right;
  }
}

.bg-dark {
  background: #2c3e50;
  color: #dddddd;
  a {
    color: white;
    &:hover {
      color: #eeeeee;
    }
  }
  .fa-inverse {
    color: #2c3e50;
  }
  .text-danger {
    color: #a94442;
    &:hover {
      color: #843534
    }
  }
  &.lighter {
    background: #384a5d;
  }
  &.super-dark {
    background: #233140;
  }
}

.wide-breaker {
  height: 92px;
  padding: 32px;
}

.about-page {
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    .icon {
      margin-left: 10px;
    }
    .title {
      font-size: 2em;
    }
  }
  section {
    margin-bottom: 70px;
  }
}