---
layout: default.hbs

section: root
title: About
description: Open IT Community Near the Sea

---

<article>
    <h1>We are</h1>
    <p>
        It's group of passionate geeks near the sea.
        We like create useful thinks, cool websites, mobile apps, robots and many other things.
        And finally organize events, when we share our knowledge.
    </p>
    <h1>Join Us</h1>
    <p>
        english speaking group <a href="https://www.facebook.com/groups/656571341153398/"><i class="fa fa-facebook-official"></i> IT Dev Group of Balkans</a>
    </p>
    <p>
        для русскоговорщих <a href="https://www.facebook.com/groups/ex.yu.developers/"><i class="fa fa-facebook-official"></i> Software Developers of Balkan</a>
    </p>
    <p>
        follow us in <a href="https://www.facebook.com/pages/Wave-Developers/547751192031667"><i class="fa fa-facebook-official"></i> Wave developers organization</a>
    </p>

    <h1>Contacts</h1>
    <h2>email</h2>
    <h2>Github</h2>
    <h2>Twitter</h2>
</article>
