---
layout: default.hbs

section: root
title: About
description: Open IT Community Near the Sea

image: "/assets/images/about-header.jpg"

source: "edit/master/pages/about.hbs"
---

<article class="text-center container">
    <h1>We are</h1>
    <p>
        It's group of passionate geeks that lives near the sea.
        We like create useful thinks, cool websites, mobile apps, robots and many other things.
        And finally organize events, when we share our knowledge.
    </p>
    <h1>Join Us</h1>
    <p>
        <i class="fa fa-facebook-official"></i> English speaking group on <a href="https://www.facebook.com/groups/{{ config.facebook.groups.en }}">IT Dev Group of Balkans</a>
    </p>
    <p>
        <i class="fa fa-facebook-official"></i> для русскоговорщих <a href="https://www.facebook.com/groups/{{ config.facebook.groups.ru }}">Software Developers of Balkan</a>
    </p>
    <p>
        <i class="fa fa-facebook-official"></i> follow us in <a href="https://www.facebook.com/pages/{{ config.facebook.account }}">Wave developers organization</a>
    </p>
    <p>
        <i class="fa fa-youtube"></i> videos from events on <a href="https://www.youtube.com/channel/{{ config.youtube.account }}">Wave developers youtube channel</a>
    </p>
</article>
