---
layout: default.hbs

section: root
title: Call for Speaker
description: Promote your ideas near the Sea

image: "/assets/images/call-4-speaker-header.jpg"

facebook:
  image: "/assets/images/screenshots/call-4-speakers.jpg"

source: "edit/master/pages/call.hbs"

is_next_item_active: true
---

<article class="is-post container">
    <h1>Join us</h1>
    <p>If you think you have something the great to talk about, tell us all about it
        and we consider your entry. If you know someone who has something great to talk about, nominate them. And if you
        are interested in hearing about a particular topic, nominate the topic, and we can try and find a match.</p>

    <iframe src="https://docs.google.com/forms/d/1vixwbWvoK0GCD8bhJDywwIWBy4yMErh6KpmMpCDF9Uc/viewform?embedded=true"
            width="100%" height="1300" frameborder="0" marginheight="0" marginwidth="0">Loading...
    </iframe>
</article>
