---
layout: default.hbs

section: root
title: Call for Speaker
description: Promote your ideas near the Sea
---

<article class="is-post">
    <p>If you think you have something great to talk about, tell us all about it
        and we consider your entry. If you know someone who has something great to talk about, nominate them. And if you
        are interested in hearing about a particular topic, nominate the topic, and we can try and find a match.</p>

    <div>
        TODO: embed Google Doc quiz
    </div>
</article>
