---
layout: default.hbs

section: root
title: Call for Speakers
description: Join Wave Developers and share your knowledge

image: "/assets/images/call-4-speaker-header.jpg"

facebook:
  image: "/assets/images/screenshots/call-4-speakers.jpg"

source: "edit/master/pages/call.hbs"

is_next_item_active: true
---

<article class="is-post container">
    <h1>Join us</h1>
    <p>Mobile Development Meetup is an event by Wave Developers group. 
    We are a team of enthusiasts aiming to contribute into development of IT community of Montenegro.</p>
    <p>Mobile Development Meetup will take place at the end of February in Podgorica. 
    If you think you have something the great to talk about mobile, tell us all about it and we’ll get back to you asap.</p>
    <p>Alternatively, feel free to nominate your topic and we might add it to the program.</p>

    <iframe src="https://docs.google.com/forms/d/1vixwbWvoK0GCD8bhJDywwIWBy4yMErh6KpmMpCDF9Uc/viewform?embedded=true"
            width="100%" height="1300" frameborder="0" marginheight="0" marginwidth="0">Loading...
    </iframe>
</article>
