---
layout: default.hbs

title: "Monte Developers Meetup #03"
description: "Javascript"

source: "edit/master/pages/call.hbs"
---

<article class="is-post container">
    <h1>Join us</h1>
    <h2>TODO: Speakers</h2>
    <h2>TODO: Location</h2>
    {{>next_event_map}}
    <h2>TODO: Time</h2>
    <h2>Checkin!</h2>
</article>
