---
layout: default.hbs

section: root
tab: Support Project
title: Support the Project
description: Do you want make waves too? Common join us!

image: "/assets/images/support-header.jpg"
---

<article class="is-post">

    <div >
        It is free non profit, open-source project.
        We are opened for different collaboration.
        If you like to help to this project, please contact with fill-up this form.
        How do you can and want to help. We will contact with you asap.
    </div>
    <div>
        <h3>
            <a href="https://docs.google.com/forms/d/1qegB3_goqd1dHQmXdXerdtmWq3Qeq6CxcNJxBms9UC8/viewform?usp=send_form">Form</a>
        </h3>
        <iframe src="https://docs.google.com/forms/d/1qegB3_goqd1dHQmXdXerdtmWq3Qeq6CxcNJxBms9UC8/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">
            Loading...
        </iframe>
    </div>
</article>
