---
layout: event.hbs
section: event

title: "Monte Developers Meetup #04"
description: "Internet Of Things (IoT)"
date: 2015-07-12
image: "/events/2015-07-12.jpg"

speakers:
    - id: alex-pazhyn
      name: Alex Pazhyn
      contacts:
          facebook: alex.pazhyn
          instagram: alex_pazhyn
          linkedin: in/alexpazhyn
      about:
          - text: UI designer in Ciklum Interactive, Ukraine. Over 5 years of experience in design. Started the career path in identity and printing, and then switched to web and mobile apps.
            locale: en
      description:
          - text: >
                <p>
                    Designing for Internet of things:
                </p>
                <ul>
                    <li>What’s the IOT means and how it works</li>
                    <li>What UIs exist for IOT and how to design for IOT</li>
                    <li>Future Interfaces and best cases for today</li>
                </ul>

    - id: andrey-novikov
      name: Andrey Novikov
      contacts:
          linkedin: pub/andrey-novikov/44/b42/671
      description:
          - text: >
                Using Development Boards based on ARM-CPU in modern experimental physics.<br/>
                STM32F4xx- Chip - modern control unit for experimental instrument <br/>
                Raspberry - “child-friendly ARM development board”

    - id: konstantin-mirin
      name: Konstantin Mirin
      about:
          - text: 12 years of coding, 5 years being CEO. Enjoy working with edge technologies and see good niche in Internet Of Things and energy saving solutions
            locale: en
          - text: 12 лет кодинга, 5 лет в роли CEO. Нравится работать с последними технологиями и вижу отличную нишу в области Интернета Вещей и энергосберегающих технологий.
            locale: ru
      description:
          - text: How to schedule lighting intensity using smartphone? Have you ever seen Philips Hue? Lifx? Marlight? Ever wanted to created it yourself? We’ll go through our approach where we create lighting solution for halls with two hundred light arrays.
            locale: en
          - text: Как регулируют освещенность с телефона по расписанию? Видели ли вы Philips Hue? Lifx? Marlight? Хотели ли сделать такое самостоятельно? Я расскажу, как мы делаем систему для освещения выставочных залов с двумя сотнями осветительных блоков.
            locale: ru

    - id: paul-dmitryev
      name: Paul Dmitryev
      contacts:
          stackoverflow: 29503/cleg
          github: cleg
          twitter: cleg

      description:
          - text: >
                <p>Pebble Watch as your smart home remote control</p>
                <ul>
                  <li>Why Pebble is the only smart watch, existing now</li>
                  <li>Pebble development overview</li>
                  <li>Simple Pebble.js application</li>
                  <li>Pebble Time and future of Pebble</li>
                </ul>
            locale: en
          - text: >
                <p>Pebble Watch как пульт управления цифровым домом</p>
                <ul>
                  <li>Почему Pebble — единственные умные часы, существующие сейчас</li>
                  <li>Разработка под Pebble — общий взгляд</li>
                  <li>Пример простого приложения с Pebble.js</li>
                  <li>Pebble Time и будущие перспективы Pebble</li>
                </ul>
            locale: ru

facebook:
  image: "/assets/images/screenshots/event-2015-07-12.jpg"

is_next_item_active: true
---
