---
layout: event.hbs
section: event

title: "Monte Developers Meetup #03"
description: "Kanban & Javascript"
date: 2015-05-30
image: "/events/2015-05-30.jpg"

speakers:
    - id: eugene-potapenko
      name: Eugene Potapenko
      contacts:
          site: http://playphrase.me
      description:
          - text: will share his experience of developming playphrase.me with node.js and angular.js.
            locale: en
          - text: опыт разработки проекта playphrase.me - node.js + angular
            locale: ru

    - id: konstantin-baev
      name: Konstantin Baev
      title: Kanban — a method of a flexible task management and its realizations
      contacts:
          site: http://kbaev.ru
          github: kipruss
      description:
          - text: will talk about Kanban - method of flexible management of processes, survey realizations of Kanban board and introduce <a href="http://kanbanchi.com/">Kanbanchi</a> - one of realizations, where he takes part as a developer
            locale: en
          - text: о Канбане, методологии гибкого управления задачами. Обзор программных реализаций доски Канбан, а так же <a href="http://kanbanchi.com/">Kanbanchi</a> - в разработке которой принимает участие
            locale: ru
      presentation:
          slideshare:
              id: c7sp2F3b9lwwHx
          youtube:
              id: RJENRBdXZzI

place:
    address: Manastirska 2, Herceg Novi, Montenegro
    name: Russian Cultural Centre named after the count Sava Vladislavich
    url: https://www.facebook.com/russkult/

contributors:
    - id: sergey-krasnozhon
      name: Sergey Krasnozhon
      url: https://www.facebook.com/profile.php?id=100001914609046

    - id: evgen-popov
      name: Evgen Popov
      url: https://www.facebook.com/danila.pomidorov

source: "edit/master/events/2015-05-30.hbs"

is_next_item_active: true
---
