---
layout: event.hbs
section: event

title: "Monte Developers Meetup #05"
description: "2015 Summary"
date: 2015-12-13
image: "/events/2015-12-13.jpg"

speakers:
    - id: eugene-krevenets
      name: Eugene Krevenets
      title: Docker or Micro Services for Lazy Developers
      contacts:
          github: hyzhak
          facebook: hyzhak
          linkedin: in/eugenekrevenets
          site: http://hyzhak.github.io
          slideshare: EugeneKrevenets
          stackoverflow: 1324730/eugene-krevenets
          twitter: hyzhak_en
      description:
          - text: >
                  How to use Docker to build enviropment to develop web application and get&nbsp;fun
            locale: en
          - text: Использование Docker-compose для развертывания среды разработки веб приложения
            locale: ru

    - id: eugene-potapenko
      name: Eugene&nbsp;Potapenko
      title: Full Stack по новому
      contacts:
          site: http://playphrase.me
          twitter: potapenko
      description: Опыт использования ClojureScript + React.js/Node.js в разработке.

    - id: sergii-liskovskyi
      name: Sergii Liskovskyi
      title: ESP8266 - революция в мире IoT
      contacts:
          email: serge.liskovsky@gmail.com
      description:
        - text: >
            <ul>
              <li>Обзор чипа ESP8266</li>
              <li>Язык Lua для программирования чипа ESP8266</li>
              <li>Протокол MQTT и его применение в IoT</li>
              <li>Альтернативные решения для IoT</li>
            </ul>
          locale: ru

    - id: vadik-rastyagaev
      name: Vadik Rastyagaev
      title: Web&nbsp;components and Polymer
      contacts:
          email: rastyagaev@gmail.com
      description:
          - text: >
                <ul>
                  <li>Components on the web</li>
                  <li>Native web components</li>
                  <li>The Polymer library</li>
                </ul>
            locale: en

facebook:
  image: "/assets/images/screenshots/event-2015-12-13.jpg"

source: "edit/master/events/2015-12-13.hbs"

is_next_item_active: true
---
